/* Resets */
body, ol {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Typography */
:root {
    font-family: 'arial';
}

/* Layouts */
.l_wrapper {
    width: 448px;
    margin: 110px auto;
}

/* Design */
body {
    background-color: #D9D9D9;
}

.bucketlist {
    background-color: #eee;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    overflow: hidden;
}

.bucketlist-header {
    background-color: white;
    padding: 44px 0;
    border-bottom: 4px solid #ddd;
}

.bucketlist-header h1 {
    color: #FF007A;
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid;
    line-height: 32px;
    padding-left: 30px;
}

.bucketlist-contents {
    padding: 36px 38px 38px 38px;
}

.lists li {
    color: #888;
    background-color: white;
    border: 4px solid #D9D9D9;
    padding: 10px;
    line-height: 1.25;
    border-radius: 10px;
    font-weight: bold;
}

/* 첫번째 방법 
.lists li {
    margin-bottom: 14px;
}

.lists li:last-child {
    margin-bottom: unset;
}
*/

/* 두번째 방법 
.lists li + li {
    margin-top: 14px;
}
*/

/* 세번째 방법
.lists li:not(:first-child) {
    margin-top: 14px;
}
*/

/* 네번째 방법 
*/
.lists li:first-child ~ li {
    margin-top: 14px;
}

/* 다섯번째 방법: flexbox gap */

.lists li.is_active {
    border-color: currentColor;
    color: #759CFF;
    box-shadow: 0 4px 4px 0 rgb( 0 0 0 / .1 );
    background-image: url(images/check.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}