/* Resets */
body {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Typography */
:root {
    font-family: 'arial';
}

/* Layouts */
.l_wrapper {
    width: 448px;
    margin: 110px auto;
}

/* Design */
body {
    background-color: #D9D9D9;
}

.bucketlist {
    background-color: #eee;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    overflow: hidden;
}

.bucketlist-header {
    background-color: white;
    padding: 44px 0;
    border-bottom: 4px solid #ddd;
}

.bucketlist-header h1 {
    color: #FF007A;
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid;
    line-height: 32px;
    padding-left: 30px;
}

.bucketlist-contents {
    padding: 36px 38px 38px 38px;
}